# Aim: Exploratory Data Analysis on e-commerce sales data. 

An in-depth look at the profitability of e-commerce sales in Amazon in the month of June.
Using this dataset, one can measure the performance of their campaigns more accurately and efficiently.
Phase 2 steps include importing the data, understanding the data, standardising the column names and data in rows, 
handling missing data and deleting duplicate values.

Importing data. The data includes sales information for the month of June

In [2]:
import pandas as pd

# Load CSV file
df = pd.read_csv("Raw_Data_Sales.csv")

Reading first 5 rows data to understand the data

In [3]:
print(df.head())

    index             Order ID      Date                        Status  \
0  107178  171-1300198-0807551  06-15-22                       Shipped
1  107179  403-9348415-4677108  06-15-22                       Shipped
2  107180  171-2810368-4915523  06-15-22                       Shipped
3  107181  404-1453112-7449163  06-15-22                       Shipped
4  107182  402-9825296-6526720  06-15-22  Shipped - Delivered to Buyer

  Fulfilment Sales Channel ship-service-level    Style             SKU  \
0     Amazon     Amazon.in          Expedited  JNE3801  JNE3801-KR-XXL
1     Amazon     Amazon.in          Expedited    J0336      J0336-TP-M
2     Amazon     Amazon.in          Expedited  MEN5021   MEN5021-KR-XL
3     Amazon     Amazon.in          Expedited  JNE3786  JNE3786-KR-XXL
4   Merchant     Amazon.in           Standard    J0306    J0306-DR-XXL

        Category  ... currency  Amount      ship-city      ship-state  \
0          kurta  ...      INR   735.0         INDORE  MADHYA PRADESH
1            Top  ...      INR   665.0         Nadiad         Gujarat
2          kurta  ...      INR   754.0       GURUGRAM         HARYANA
3          kurta  ...      INR   349.0  VISAKHAPATNAM  ANDHRA PRADESH
4  Western Dress  ...      INR  1044.0      AHMEDABAD         Gujarat

  ship-postal-code  ship-country  \
0         452007.0            IN
1         387330.0            IN
2         122101.0            IN
3         530008.0            IN
4         380015.0            IN

                                       promotion-ids    B2B  fulfilled-by  \
0       IN Core Free Shipping 2015/04/08 23-48-5-108  False           NaN
1       IN Core Free Shipping 2015/04/08 23-48-5-108  False           NaN
2                                                NaN  False           NaN
3                                                NaN  False           NaN
4  Amazon PLCC Free-Financing Universal Merchant ...  False     Easy Ship

  Unnamed: 22
0       False
1       False
2       False
3       False
4       False

[5 rows x 24 columns]

To find the number of rows and columns of data loaded

In [4]:
# Number of rows and columns
print("Shape (rows, columns):", df.shape)

# Number of rows only
print("Rows:", len(df))

# Number of columns only
print("Columns:", len(df.columns))

Shape (rows, columns): (18601, 24)
Rows: 18601
Columns: 24

To find data types of columns

In [5]:
print("\nData Types:")
print(df.dtypes)

Data Types:
index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
promotion-ids          object
B2B                      bool
fulfilled-by           object
Unnamed: 22              bool
dtype: object

Updating column names to proper title. Also, replacing hyphens in column names

In [6]:
df.columns = df.columns.str.replace('-', ' ').str.title()

Displaying the list of column names

In [7]:
# Print the column names
print(df.columns)

Index(['Index', 'Order Id', 'Date', 'Status', 'Fulfilment', 'Sales Channel',
       'Ship Service Level', 'Style', 'Sku', 'Category', 'Size', 'Asin',
       'Courier Status', 'Qty', 'Currency', 'Amount', 'Ship City',
       'Ship State', 'Ship Postal Code', 'Ship Country', 'Promotion Ids',
       'B2B', 'Fulfilled By', 'Unnamed: 22'],
      dtype='object')

To find number of number of number of null values in each column

In [8]:
nan_counts_all_cols = df.isnull().sum()
print("\nNumber of NaN values per column:")
print(nan_counts_all_cols)

Number of NaN values per column:
Index                     0
Order Id                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
Ship Service Level        0
Style                     0
Sku                       0
Category                  0
Size                      0
Asin                      0
Courier Status            0
Qty                       0
Currency                 17
Amount                   17
Ship City                 5
Ship State                5
Ship Postal Code          5
Ship Country              5
Promotion Ids          6140
B2B                       0
Fulfilled By          14245
Unnamed: 22               0
dtype: int64

To correct data type of Date column
Also, removing columns 'Unnamed:22 and fulfilled-by' as it is irrelevant or has a lot of null data

In [10]:
# Correcting the data type of date
df['Date'] = pd.to_datetime(df['Date'])

# Dropping column 'Unnamed:22 and fulfilled-by' as it is irrelevant or has a lot of null data
columns_to_drop = ['Unnamed: 22', 'Fulfilled By']
df_new = df.drop(columns=columns_to_drop)
df=df_new

Where promotion ids is not applied, the data had value 'Null'. Changing this to 'None'

In [11]:
#Assigning value 'None' where promotion-ids is Null
df['Promotion Ids'] = df['Promotion Ids'].fillna(value='None')

Checking if any columns contain Null values

In [12]:
nan_counts_all_cols = df.isnull().sum()
print("\nNumber of NaN values per column:")
print(nan_counts_all_cols)

Number of NaN values per column:
Index                  0
Order Id               0
Date                   0
Status                 0
Fulfilment             0
Sales Channel          0
Ship Service Level     0
Style                  0
Sku                    0
Category               0
Size                   0
Asin                   0
Courier Status         0
Qty                    0
Currency              17
Amount                17
Ship City              5
Ship State             5
Ship Postal Code       5
Ship Country           5
Promotion Ids          0
B2B                    0
dtype: int64

Deleting all rows that contain any null values and again checking for null values.

In [13]:
df_new = df.dropna() 
df=df_new
nan_counts_all_cols = df.isnull().sum()
print("\nNumber of NaN values per column:")
print(nan_counts_all_cols)

Number of NaN values per column:
Index                 0
Order Id              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
Ship Service Level    0
Style                 0
Sku                   0
Category              0
Size                  0
Asin                  0
Courier Status        0
Qty                   0
Currency              0
Amount                0
Ship City             0
Ship State            0
Ship Postal Code      0
Ship Country          0
Promotion Ids         0
B2B                   0
dtype: int64

Changing float data type to string to correct the data type

In [16]:
# to drop the decimal places in float data type and then convert to string
df['Ship Postal Code'] = df['Ship Postal Code'].astype(int)

df['Ship Postal Code'] = df['Ship Postal Code'].astype(str)

In [17]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18579 entries, 0 to 18600
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Index               18579 non-null  int64
 1   Order Id            18579 non-null  object
 2   Date                18579 non-null  datetime64[ns]
 3   Status              18579 non-null  object
 4   Fulfilment          18579 non-null  object
 5   Sales Channel       18579 non-null  object
 6   Ship Service Level  18579 non-null  object
 7   Style               18579 non-null  object
 8   Sku                 18579 non-null  object
 9   Category            18579 non-null  object
 10  Size                18579 non-null  object
 11  Asin                18579 non-null  object
 12  Courier Status      18579 non-null  object
 13  Qty                 18579 non-null  int64
 14  Currency            18579 non-null  object
 15  Amount              18579 non-null  float64
 16  Ship City           18579 non-null  object
 17  Ship State          18579 non-null  object
 18  Ship Postal Code    18579 non-null  object
 19  Ship Country        18579 non-null  object
 20  Promotion Ids       18579 non-null  object
 21  B2B                 18579 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(17)
memory usage: 3.1+ MB
None

Deleting duplicate rows

In [18]:
#Dropping duplicate rows
df_unique = df.drop_duplicates()
df=df_unique

In [19]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18579 entries, 0 to 18600
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Index               18579 non-null  int64
 1   Order Id            18579 non-null  object
 2   Date                18579 non-null  datetime64[ns]
 3   Status              18579 non-null  object
 4   Fulfilment          18579 non-null  object
 5   Sales Channel       18579 non-null  object
 6   Ship Service Level  18579 non-null  object
 7   Style               18579 non-null  object
 8   Sku                 18579 non-null  object
 9   Category            18579 non-null  object
 10  Size                18579 non-null  object
 11  Asin                18579 non-null  object
 12  Courier Status      18579 non-null  object
 13  Qty                 18579 non-null  int64
 14  Currency            18579 non-null  object
 15  Amount              18579 non-null  float64
 16  Ship City           18579 non-null  object
 17  Ship State          18579 non-null  object
 18  Ship Postal Code    18579 non-null  object
 19  Ship Country        18579 non-null  object
 20  Promotion Ids       18579 non-null  object
 21  B2B                 18579 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(17)
memory usage: 3.1+ MB
None

No duplicate data was found and hence none deleted.

In [20]:
print(df.describe())

               Index           Qty        Amount
count   18579.000000  18579.000000  18579.000000
mean   118048.242424      1.003983    661.023467
std      6259.534595      0.078233    289.808217
min    107178.000000      1.000000      0.000000
25%    112633.500000      1.000000    457.000000
50%    118057.000000      1.000000    635.000000
75%    123460.500000      1.000000    788.000000
max    128882.000000      5.000000   2894.000000

In [21]:
print(df.head())

    Index             Order Id       Date                        Status  \
0  107178  171-1300198-0807551 2022-06-15                       Shipped
1  107179  403-9348415-4677108 2022-06-15                       Shipped
2  107180  171-2810368-4915523 2022-06-15                       Shipped
3  107181  404-1453112-7449163 2022-06-15                       Shipped
4  107182  402-9825296-6526720 2022-06-15  Shipped - Delivered to Buyer

  Fulfilment Sales Channel Ship Service Level    Style             Sku  \
0     Amazon     Amazon.in          Expedited  JNE3801  JNE3801-KR-XXL
1     Amazon     Amazon.in          Expedited    J0336      J0336-TP-M
2     Amazon     Amazon.in          Expedited  MEN5021   MEN5021-KR-XL
3     Amazon     Amazon.in          Expedited  JNE3786  JNE3786-KR-XXL
4   Merchant     Amazon.in           Standard    J0306    J0306-DR-XXL

        Category  ... Courier Status Qty Currency  Amount      Ship City  \
0          kurta  ...        Shipped   1      INR   735.0         INDORE
1            Top  ...        Shipped   1      INR   665.0         Nadiad
2          kurta  ...        Shipped   1      INR   754.0       GURUGRAM
3          kurta  ...        Shipped   1      INR   349.0  VISAKHAPATNAM
4  Western Dress  ...        Shipped   1      INR  1044.0      AHMEDABAD

       Ship State Ship Postal Code Ship Country  \
0  MADHYA PRADESH           452007           IN
1         Gujarat           387330           IN
2         HARYANA           122101           IN
3  ANDHRA PRADESH           530008           IN
4         Gujarat           380015           IN

                                       Promotion Ids    B2B
0       IN Core Free Shipping 2015/04/08 23-48-5-108  False
1       IN Core Free Shipping 2015/04/08 23-48-5-108  False
2                                               None  False
3                                               None  False
4  Amazon PLCC Free-Financing Universal Merchant ...  False

[5 rows x 22 columns]

Updating data in 'ship-city','ship-state' and 'Category' so that data is proper. 

Checking data types to verify

In [23]:
df['Ship City'] = df['Ship City'].str.title()
df['Ship State'] = df['Ship State'].str.title()
df['Category'] = df['Category'].str.title()

print(df.head())
print(df.dtypes)

    Index             Order Id       Date                        Status  \
0  107178  171-1300198-0807551 2022-06-15                       Shipped
1  107179  403-9348415-4677108 2022-06-15                       Shipped
2  107180  171-2810368-4915523 2022-06-15                       Shipped
3  107181  404-1453112-7449163 2022-06-15                       Shipped
4  107182  402-9825296-6526720 2022-06-15  Shipped - Delivered to Buyer

  Fulfilment Sales Channel Ship Service Level    Style             Sku  \
0     Amazon     Amazon.in          Expedited  JNE3801  JNE3801-KR-XXL
1     Amazon     Amazon.in          Expedited    J0336      J0336-TP-M
2     Amazon     Amazon.in          Expedited  MEN5021   MEN5021-KR-XL
3     Amazon     Amazon.in          Expedited  JNE3786  JNE3786-KR-XXL
4   Merchant     Amazon.in           Standard    J0306    J0306-DR-XXL

        Category  ... Courier Status Qty Currency  Amount      Ship City  \
0          Kurta  ...        Shipped   1      INR   735.0         Indore
1            Top  ...        Shipped   1      INR   665.0         Nadiad
2          Kurta  ...        Shipped   1      INR   754.0       Gurugram
3          Kurta  ...        Shipped   1      INR   349.0  Visakhapatnam
4  Western Dress  ...        Shipped   1      INR  1044.0      Ahmedabad

       Ship State Ship Postal Code Ship Country  \
0  Madhya Pradesh           452007           IN
1         Gujarat           387330           IN
2         Haryana           122101           IN
3  Andhra Pradesh           530008           IN
4         Gujarat           380015           IN

                                       Promotion Ids    B2B
0       IN Core Free Shipping 2015/04/08 23-48-5-108  False
1       IN Core Free Shipping 2015/04/08 23-48-5-108  False
2                                               None  False
3                                               None  False
4  Amazon PLCC Free-Financing Universal Merchant ...  False

[5 rows x 22 columns]
Index                          int64
Order Id                      object
Date                  datetime64[ns]
Status                        object
Fulfilment                    object
Sales Channel                 object
Ship Service Level            object
Style                         object
Sku                           object
Category                      object
Size                          object
Asin                          object
Courier Status                object
Qty                            int64
Currency                      object
Amount                       float64
Ship City                     object
Ship State                    object
Ship Postal Code              object
Ship Country                  object
Promotion Ids                 object
B2B                             bool
dtype: object

In [ ]:
Exporting the data to csv file

In [25]:
df.to_csv('ECommerce_Project_Phase2.csv', index=False)